*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f7fa;
color:#333;
line-height:1.6;
}

.navbar{
position:sticky;
top:0;
z-index:1000;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0f172a;
}

.logo{
font-size:28px;
font-weight:700;
color:white;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:25px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
}

.hero{
height:100vh;

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),

url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?w=1600');

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:65px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:25px;
}

.btn{
display:inline-block;
padding:14px 30px;
background:white;
color:#4f46e5;
text-decoration:none;
border-radius:40px;
font-weight:600;
}

.stats{
padding:80px 10%;

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.stat-card{
background:white;
padding:30px;
text-align:center;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.about-preview{
padding:80px 10%;

display:grid;
grid-template-columns:1fr 1fr;
gap:50px;
align-items:center;
}

.about-preview img{
width:100%;
border-radius:20px;
}

.section-title{
text-align:center;
margin-bottom:40px;
font-size:40px;
}

.program-section,
.testimonial-section{
padding:80px 10%;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
transition:.3s;
text-align:center;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:45px;
color:#4f46e5;
margin-bottom:15px;
}

.cta{
background:#4f46e5;
color:white;
text-align:center;
padding:80px 20px;
}

.cta .btn{
margin-top:20px;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:30px;
}

.social-icons i{
font-size:22px;
margin:15px;
cursor:pointer;
}

@media(max-width:768px){

.navbar{
flex-direction:column;
}

.nav-links{
margin-top:15px;
}

.about-preview{
grid-template-columns:1fr;
}

.stats{
grid-template-columns:1fr;
}

.hero h1{
font-size:42px;
}

}